*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}



body{
    background-color: #23324E;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 16%, rgba(2,0,36,1) 100%);
}



#wrapper{
    width: 950px;
    margin: 0 auto;
    border: 1px black solid;
}

header{
    background: linear-gradient(#23324E, #0E0F12);
    width: 100%;
    height: 65px;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.header_wrapper{
    min-width: 950px;
    /* border: 1px black solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

#logoAndDescription p{
    margin-left: 8px;
    color: rgb(212, 212, 212);
    font-size: 12px;
}

#logo{
    width: 210px; 
    height: 55px;
    background-image: url(./img/logo.png);
}

#registration{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 65px;
    
}

#registration a {
    padding: 0 5px; 
    margin-left: 2px;
    color: white;
    text-decoration: none;
    background-color: black;
    font-weight: bold;
    font-size: 14px;
}



#logoAndDescription{
    width: 200px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}





input[type=text]{
    width: 300px;
    height: 22px;
    border-radius: 5px;
    padding-left: 10px;
}

input[type=submit]{
    padding: 2px 10px;
    background: linear-gradient(#D41903, #E44D09);
    color: white;
    border-radius: 5px;
}


nav{
    width: 100%;
    height: 38px;
    background-color: #1D273D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

nav ul{
    width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-family: arial;
    
    
    
}

nav ul li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding: 5px 10.8px;
    list-style-type: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border-right: 0.5px rgb(109, 109, 109) solid;
    background-image: url(./img/menu.png);
}

nav ul li a:hover{
    background-color: blue;
}

nav ul li a{
    text-decoration: none;
    color: white;
    margin: 0;
}



#relatedVideos{
    width: 100%;
    height: 115px;
    background-color: red;
    background-image: url(./img/redbg.png);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.oneRelatedVideo{
    width: 128px;
    height: 74px;
    background-color: rgb(136, 129, 129);
    margin: 0 2px;
    border: 1px black solid;
}



main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#leftSideMainContent{
    width: 300px;
    height: 500px;
    /* background-color: green; */
}

#rightSideMainContent{
    width: 650px;
    height: 1800px;
    background-color: rgb(0, 0, 0);
}

#videoOfDay{
    position: relative;
    width: 100%;
    height: 170px;
    background-color: antiquewhite;
}

#videoOfDayTitle{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    opacity: 50%;
    background-color: black;
}

#videoOfDayTitle{
    color: white;
    padding-top: 25px;
    padding-left: 10px;
    font-size: 19px;
    
}

#BottomSideOfLeftContent{
    width: 100%;
    height: 1630px;
    background-image: url(./img/nav-bg.png);
    background-size: contain;
}

#basicInfo p{
    color: white;
    padding: 10px;
    font-size: 14px;
    line-height: 14px;
}

#basicInfo p span{
    color: #fdb102;
    font-weight: bold;
}


.interestedVideosHeading h5{
    width: 100%;
    height: 25px;
    background-color: #d90101;
    padding: 3px 10px;
    color: white;
    font-size: 13px;
    border-top: 1px black solid;
}



#likeImg{
    width: 100%;
    height: 210px;
    background-image: url(./img/like.jpg);
    margin-bottom: 20px;
}

#activeUsers{
    padding: 20px;
    margin-left: 15px;
}

#activeUsers ol li {
    line-height: 15px;
    color: white;
    font-size: 12px;
}

#activeUsers ol li:last-child{
    list-style: none;
    margin-left: -15px;
}


#allList{
    color: #fdb102;
}

#bestLink{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bestLink a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


#survey{
    color: white;
}
#interestedVideosContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

#interestedVideosContent :first-of-type{
    margin: 0;
    color: white;
}

#interestedVideosContent :last-of-type{
    color: white;
}




.oneInterestedVideo{
    width: 264px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    
}

.oneInterestedVideo video{
    width: 255px;
    height: 143px;
    background-color: rgb(180, 171, 171);
}



.oneInterestedVideo a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    text-align: center;
    line-height: 13px;
    padding: 0 5px; 
}



.oneVideoRightSide{
    width: 641px;
    height: 110px;
    background-color: #c4c0b6;
    background: linear-gradient(#040609, #192032);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    margin-left: 8px;
    margin-top: 8px;
}

.firstVideo{
    margin-top: 0;
}





.addedBy{
    color: rgb(129, 129, 129);
    font-size: 12px;
    padding-bottom: 3px;
}

.mainInfoText{
    height: 30px;
    color:#d1d1d1;
    font-size: 13px;
    line-height: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.oneVideoRightSide p span{
    color:#fdb102;
}

.oneVideoMain{
    width: 150px;
    height: 110px;
    background-color: rgb(101, 101, 129);
}

.oneVideoMainDescription{
    width: 500px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}



.statistics{
    display: flex;
    flex-direction: row;

}

.statistics p{
    padding-top: 3px;
    padding-right: 40px;
    color: rgb(163, 163, 163);
    font-size: 13px;
}



.oneVideoMainDescription h1{
    color:#fdb102;
    font-size: 17px;
}

#numbers{
    width: 100%;
    margin: 25px;
    display: flex;
    flex-direction: row;
}

#numbers a{
    display: inline-block;
    width: 25px;
    height: 30px;
    background-color: red;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(./img/nav-bg.png);
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#downSideLinks{
    width: 100%;
    height: 30px;
    color: white;
    background-color: #D41903;
    background-image: url(./img/nav-bg.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px black solid;
}

#downSideLinks a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin: 0 9px;
    background-color: black;

}

#bottomNav{
    width: 100%;
    height: 20px;
    background-color: #d90101;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    border-bottom: 1px black solid;
}

#bottomNav a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}



.information p{
    color: white;
    font-size: 12px;
    line-height: 18px;
}